@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url('/imagens/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-logo p {
    margin: 30px;
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-menu ul {
    display: flex;
}
.nav-menu ul li {
    list-style-type: none;
}
.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active {
    border-bottom: 2px solid #fff;
}
.container{
    
    
    font-family: 'Poppins' sans-serif;
    color: #fff;
}
